<!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Zen+Dots&display=swap');
            </style> 
            <section id="intro" class="wrapper fullscreen fade-up">
                <div class="inner" style="line-height: 1%; background-image: url("intro.jpg");">
                    <h1 style="font-family: 'Russo One', sans-serif;">INO SHOP</h1>
                    </p>
                    <ul class="actions">
                        <li><a href="#one" class="button scrolly">Plus...</a></li>
                    </ul>
                </div>
            </section>

        <!-- One -->
            <section id="one" class="wrapper style3 fade-up">
                <div class="inner">
                    <h2>Nos services</h2>
                    <p>Une offre sécurisée en accord avec vos besoins.</p>
                    <div class="features">
                        <section>
                            <span class="icon solid major fa-code"></span>
                            <h3>Site Web</h3>
                            <p>Grâce au Framework Ruby on Rails, nous créons votre site web et vous pouvez entièrement le personnaliser.</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-desktop"></span>
                            <h3>Présence en Ligne</h3>
                            <p>Nous créons votre présence en ligne grâce aux réseaux sociaux et outils de pub Google.</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-lock"></span>
                            <h3>Sécurité</h3>
                            <p>Paiement sécurisé, double authentification, nous pouvons garantir la sécurité de vos informations.</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-link"></span>
                            <h3>Visibilité</h3>
                            <p>Nos algorithmes boost votre visibilité sur les réseaux sociaux.</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-cog"></span>
                            <h3>Maintenance</h3>
                            <p>Nous gardons votre site en marche 24h sur 24.</p>
                        </section>
                        <section>
                            <span class="icon major fa-gem"></span>
                            <h3>Design</h3>
                            <p>Avec Photoshop ou AfterEffect nous pouvons créer et personnaliser l'image de votre marque en ligne.</p>
                        </section>
                    </div>
                </div>
            </section>

        <!-- Two -->
            <section id="two" class="wrapper style2 spotlights">
                <section>
                    <a href="https://www.linkedin.com/in/valentin-kizelev-53aa74151/" target="_blank" class="image"><img src="hyperspace/images/valocheCEO.jpg" alt="" data-position="center center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Valentin Kizelev</h2>
                            <p>Master en Computer Science (MSci) à King’s College London</p>
                            <ul class="actions">
                                <li><a href="https://www.linkedin.com/in/valentin-kizelev-53aa74151/" class="button">Plus...</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="https://www.linkedin.com/in/lucas-frenoy/" target="_blank" class="image"><img src="hyperspace/images/lulubite.jpg" alt="" data-position="top center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Lucas Frenoy</h2>
                            <p>Master de Commerce à l'ESSEC</p>
                            <ul class="actions">
                                <li><a href="https://www.linkedin.com/in/lucas-frenoy/" class="button">Plus...</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

        <!-- Three -->
            <section id="three" class="wrapper style1 fade-up">
                <div class="inner">
                    <h2>Contacts</h2>
                    <div class="split style1">
                        <section>
                            <%= render 'contact_form' %>
                        </section>
                        <section>
                            <ul class="contact">
                                <li>
                                    <h3>Addresse</h3>
                                    <span>Le Vésinet, 78110<br />
                                    France</span>
                                </li>
                                <li>
                                    <h3>Email</h3>
                                    <a href="#">valentinkizelev@gmail.com</a>
                                    <a href="#">frenoyl@yahoo.fr</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </section>
    </div>

<!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; INO SHOP. All rights reserved.</li>
            </ul>
        </div>
    </footer>


