<!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Bienvenue</a></li>
                    <li><a href="#one">Que faisons-nous ?</a></li>
                    <li><a href="#two">Qui somme-nous ?</a></li>
                    <li><a href="#three">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </section>