<!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Bienvenue</a></li>
                    <li><a href="#one">Services</a></li>
                    <li><a href="#two">Equipe</a></li>
                    <li><a href="#three">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </section>